<div class="container">
  <div class="grid m-0 toolbar">
    <div class="col-auto m-1">
      <button
        pButton
        label="Додати"
        type="button"
        icon="pi pi-user-plus"
        iconPos="left"
        (click)="openModalForAddesUser()"
      ></button>
    </div>
    <div class="col-auto m-1">
      <button
        pButton
        label="Сформувати команду"
        type="button"
        icon="pi pi-plus"
        iconPos="left"
        (click)="openModalForAddTeam()"
      ></button>
    </div>
  </div>
  <p-table
    [value]="(users$ | async)!"
    responsiveLayout="scroll"
    [scrollable]="true"
    scrollHeight="flex"
    tableStyleClass="table"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>Iм`я</th>
        <th>Нiк</th>
        <th>Iгровий id</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-ind="rowIndex">
      <tr>
        <td>{{ ind + 1 }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.nicname }}</td>
        <td>{{ user.gameId }}</td>
        <td>
          <button
            pButton
            class="bg-red-400"
            label="Видалити"
            type="button"
            icon="pi pi-user-minus"
            iconPos="left"
            (click)="deleteUser(user)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog
    [modal]="true"
    header="Додавання користувача"
    [(visible)]="visibleModalForAddesUser"
  >
    <div class="card" [formGroup]="profileForm">
      <div class="field">
        <label for="name" class="block">Iм`я</label>
        <input
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          id="name"
          aria-describedby="name-help"
          pInputText
          formControlName="name"
        />
      </div>
      <div class="field">
        <label for="nicname" class="block">Нiк</label>
        <input
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          id="nicname"
          aria-describedby="nicname-help"
          pInputText
          formControlName="nicname"
        />
      </div>
      <div class="field">
        <label for="gameId" class="block">Iгровий id</label>
        <input
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          id="gameId"
          aria-describedby="gameId-help"
          pInputText
          formControlName="gameId"
        />
      </div>
    </div>
    <p-footer>
      <button
        pButton
        label="Додати"
        type="button"
        class="w-full"
        icon="pi pi-check"
        iconPos="left"
        (click)="addUser()"
        [disabled]="profileForm.invalid"
      ></button>
    </p-footer>
  </p-dialog>
</div>

<p-dialog
  [modal]="true"
  header="Формування команди"
  [(visible)]="visibleModalForGenerateTeam"
>
  <div class="card" [formGroup]="teamForm">
    <div class="field">
      <label for="teamId" class="block">Команда</label>
      <p-dropdown
        [options]="(teams$ | async)!"
        placeholder="Створиться нова"
        optionLabel="name"
        optionValue="id"
        formControlName="teamId"
        [showClear]="true"
      ></p-dropdown>
    </div>
    <div class="field">
      <label for="teamName" class="block">Назва команди</label>
      <input
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        id="teamName"
        aria-describedby="teamName-help"
        pInputText
        formControlName="teamName"
      />
    </div>
    <div class="field">
      <label for="usersCount">Кiлькiсть гравцiв</label>
      <p-inputNumber
        formControlName="usersCount"
        mode="decimal"
        [showButtons]="true"
        inputId="usersCount"
        [min]="1"
        [max]="10"
      >
      </p-inputNumber>
    </div>
    <div class="field">
      <p-checkbox
        [binary]="true"
        name="group1"
        formControlName="deleteUsers"
        inputId="deleteUsers"
      ></p-checkbox>
      <label for="deleteUsers">Видалити поточних гравцiв?</label>
    </div>
  </div>
  <p-footer>
    <button
      pButton
      label="Сформувати"
      type="button"
      class="w-full"
      icon="pi pi-check"
      iconPos="left"
      (click)="addUser()"
      [disabled]="profileForm.invalid"
    ></button>
  </p-footer>
</p-dialog>
